#body {
    background-color: rgb(186, 130, 238);
}

#title {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
#data {
    display: flex;
    margin: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    /* background-color: rgb(255, 196, 153); color is here to visually identify div while coding*/
    /* max-height: 3in;
    max-width: 1in;
    min-height: 3in;
    min-width: 1in; */
}

#card {
    background-color: cornflowerblue;
     margin: 9px; 
 } /*this is meant to be the styling for each individual "card" */

